Package: password-manager
Version: 0.9.0
Priority: optional
Section: utils
Depends: xclip (>= 0.12)
Maintainer: maanadev <maanadev@apache.org>
Architecture: amd64
Description: Encrypt your passwords into a file and have access with ease.
 A local password manager which simply encrypts your passwords in to a file and searching passwords made easy.
